VITE_SUPABASE_URL=https://obavxshbayymdiauzbjj.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_iFTwrWijnfpxX_d_qEBo3g_LCboo-KU
VITE_API_BASE_URL=http://localhost:4000/api
VITE_HEADWAY_REFERRAL_LINK=https://headway.partners/user/signup?hwp=dfe932
